/* layout: default */
.body {
  font-family: "-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen-Sans, Ubuntu, Cantarell, &quot;Helvetica Neue&quot;, sans-serif",
    sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #eaeaea;
}

.layout {
  background-color: #eaeaea;
}

.main {
  background-color: #eaeaea;
  padding: 0;
  margin: 0;
}

.el-carousel--horizontal {
  height: 100%;
}

.el-carousel--horizontal .el-carousel__container {
  position: relative;
  height: 100%;
}

@media screen and (max-width: 768px) {

  .el-carousel,
  .el-carousel--horizontal {
    min-height: 200px;
  }
}

button.el-carousel__button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s;
  background-color: #111;
}

.el-carousel--horizontal .el-carousel__container {
  position: relative;
  height: 100%;
}

/* post details: news/detail/_id */
.post-detail,
.post-comment {
  background-color: #fff;
  padding: 10px 20px;
}

.post-detail .entry-header h1 {
  font-weight: 700;
}

.post-detail .entry-header,
.post-detail .entry-footer {
  font-size: 75%;
}

.post-detail .entry-header a,
.post-detail .entry-footer a {
  text-decoration: none;
  color: green;
  font-weight: 500;
}

.post-detail .entry-header a:hover,
.post-detail .entry-footer a:hover {
  color: #000;
}

.blog-share {
  display: flex;
  justify-content: center;
}

.blog-share .item-logo {
  border: 2px solid gray;
  margin-left: 0.12em;
  margin-right: 0.12em;
  width: 35px;
  border-radius: 50%;
  padding: 4px;
}

.entry-main .blog-share .item-logo i {
  min-width: 1.5em;
}

.blog-share .item-logo {
  color: gray;
}

.blog-share .facebook-icon:hover {
  background-color: #3a589d !important;
  border-color: #3a589d;
  color: #fff;
}

.blog-share .twitter-icon:hover {
  background-color: #2478ba !important;
  border-color: #2478ba !important;
  color: #fff;
}

.blog-share .mail-icon:hover {
  background-color: #111 !important;
  border-color: #111 !important;
  color: #fff;
}

.blog-share .printerest-icon:hover {
  background-color: #cb2320 !important;
  border-color: #cb2320 !important;
  color: #fff;
}

.blog-share .google-icon:hover {
  background-color: #dd4e31 !important;
  border-color: #dd4e31 !important;
  color: #fff;
}

.blog-share .linked-icon:hover {
  background-color: #0072b7 !important;
  border-color: #0072b7 !important;
  color: #fff;
}

.post-comment label {
  font-weight: 700;
}

/* Asibar: components */
.asidebar {
  background-color: #fff;
  padding: 5px 5px .5px 5px;
  margin-bottom: 10px;
}

.asidebar .post-content,
.asidebar .product-content,
.asidebar .category-product {
  padding-left: 15px;
}

.asidebar .post-content li,
.asidebar .product-content li,
.asidebar .category-product li {
  list-style: none;
  margin-bottom: 0.3em;
  text-align: left;
  margin: 0;
}

.asidebar .post-content li a,
.asidebar .product-content li a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.2;
  display: block;
  margin-bottom: 6px;
  font-size: 85%;
}

.asidebar .post-content li a:hover,
.asidebar .product-content li a:hover,
.asidebar .category-product li a:hover {
  color: #dd3333;
}

.asidebar .title {
  font-size: 1em;
  font-weight: 600;
  width: 100%;
  background: #dd3333;
  display: block;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.asidebar .product-content .img-product {
  width: 100%;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .asidebar .product-content .img-product {
    width: 60px;
  }
}

/* Introduction page: /introduction */
.content-card {
  background-color: #fff;
  padding: 10px;
}

.content-card table th {
  background: #f7f7f7;
}

.content-card .btn-contact {
  display: block;
  text-align: center;
  background-color: #f79c3a;
  border-radius: 4px;
  color: #fff;
  font-size: 0.97em;
  letter-spacing: 0.03em;
  line-height: 2.4em;
  font-weight: 600;
}

.content-card .btn-contact:hover {
  text-decoration: none;
  outline: none;
  opacity: 1;
  color: #fff;
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}

/* Section components */
.section-header {
  border-bottom: 2px solid #dd3333;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.section-header .title {
  background-color: #dd3333;
}

.section-header .title p {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
  color: white;
  padding: 6px 20px;
  font-size: 16px;
}

.section-header .select-all {
  color: #dd3333;
  font-weight: 600;
}

.section-header .select-all p {
  margin: 0px;
  padding: 6px 10px;
  cursor: pointer;
}

/* Bottom footer */
.bottom-footer {
  background-color: #dd3333;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 0 15px;
  font-size: 0.9em;
  font-weight: bolder;
}

.bottom-footer p {
  margin: 0px;
}

.bottom-footer a {
  color: gray;
  text-decoration: none;
}

.bottom-footer a:active,
.bottom-footer a:hover {
  outline-width: 0;
  color: #fff;
  text-decoration: none;
}

/* Main footer components */
.main-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(10, 10, 12);
  color: #f1f1f1;
}

.main-footer .title-section {
  color: #fff;
}

.main-footer .title-section h5 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.main-footer ul {
  margin-top: 0;
  padding: 0;
  margin-bottom: 1.3em;
}

.main-footer ul li {
  margin-left: 1.3em;
  margin-bottom: 0.6em;
}

.main-footer ul li span {
  color: gray;
}

.main-footer a {
  color: gray;
  text-decoration: none;
}

.main-footer li a:active,
.main-footer li a:hover {
  outline-width: 0;
  color: #fff;
  text-decoration: none;
}

.main-footer li a span:hover {
  outline-width: 0;
  color: #fff;
  text-decoration: none;
}

/* SwipperItem: Sections/SwipperItem */
.swiper-item .card-bottom a,
.product-item .card-bottom a {
  font-size: 80%;
  font-weight: 600;
  padding: 5px 10px;
  text-transform: none;
  border-radius: 3px;
  background: #dd3333 !important;
  border: 0 !important;
  color: white !important;
}

/* Category product asidebar */
.asidebar .category-product li a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.2;
  display: block;
  margin-bottom: 6px;
  font-size: 85%;
}

.asidebar .category-product li span {
  display: block;
}

.asidebar .category-product li hr {
  margin: 6px 0px;
  padding-bottom: 10px;
}

.asidebar .category-product li a {
  color: black;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.2;
  display: block;
  margin-bottom: 6px;
  font-size: 90%;
}

/* products page */
.product-list {
  background-color: #fff;
  /* padding: 5px; */
}

/* Product Detail Page */
.product-detail .infor-product {
  background-color: #fff;
  padding: 5px;
}

.product-detail .infor-product .img-responsive {
  width: 100%;
  height: 100%;
}

.product-detail .infor-product .breadcrumb {
  background-color: #fff;
}

.product-detail .infor-product ol.breadcrumb {
  padding: 0px;
  margin: 0px;
}

.infor-product .img-small-wrap .item-gallery {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  margin: 7px 2px;
  overflow: hidden;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.infor-product .img-small-wrap {
  text-align: center;
  margin: auto;
  display: flex;
}

.infor-product .img-small-wrap img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
}

.infor-product .ratings {
  display: flex;
}

.infor-product .ratings .ratings-link {
  margin: 0px;
}

.infor-product .ratings .ratings-link a {
  font-size: 85%;
  color: #000;
  text-decoration: none;
}

.infor-product .ratings .ratings-link a:hover {
  color: #e83f33;
}

.infor-product .price-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infor-product .price-box .special-price {
  font-size: 125%;
  font-weight: 500;
  color: #f0451e;
}

.infor-product .price-box .old-price {
  text-decoration: line-through;
}

.infor-product .price-box .sales-price {
  font-size: 90%;
  background: #f0451e;
  line-height: 1;
  border-radius: 2px;
  padding: 2px 4px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.infor-product .title-size {
  display: flex;
  align-items: center;
}

.infor-product .title-size p {
  margin: 0px;
  font-size: 90%;
  font-weight: 500;
}

.infor-product .numbers-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.infor-product .numbers-row .numbers {
  display: flex;
}

.infor-product .numbers-row .numbers .qtybutton {
  background-color: #eeeeee;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  color: #333333;
  font-size: 14px;
  padding: 12px 14px 9px 16px;
  line-height: 18px;
  display: inline-block;
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
}

.infor-product .numbers-row .numbers .qtybutton:hover {
  background-color: #e83f33;
  color: #fff;
}

.infor-product .numbers-row .numbers .qty {
  border: 1px solid #e5e5e5;
  color: #333333;
  float: left;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  margin-right: 8px;
  padding: 0 5px 1px;
  text-align: center;
  width: 65px;
  margin-left: 8px;
  border-radius: 3px;
}

.infor-product .numbers-row span {
  font-size: 85%;
  color: #000;
}

.product-detail .description-product {
  background-color: #fff;
  padding: 5px;
}

.product-detail .description-product .review-form-wrap {
  border: 2px solid #dd3333;
  padding: 15px 30px 30px;
}

/* top header */
.top-header .title-welcome {
  font-size: 75%;
  margin: 0px;
}

.top-header .header-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-header .header-link .register-agent a span {
  border-left: 1px #ccc solid;
  padding-left: 10px;
}

.top-header .header-link .guide-payment a,
.top-header .header-link .register-agent a {
  color: rgba(102, 102, 102, 0.85);
  transition: all .2s;
  font-size: 90%;
  text-decoration: none;
  padding-right: 10px;
}

.top-header .header-link .guide-payment a:hover,
.top-header .header-link .register-agent a:hover {
  color: #000;
  transition: all .2s;
  font-size: 90%;
  text-decoration: none;
}

.top-header .header-link .share-web a {
  color: rgba(102, 102, 102, 0.85);
  font-size: 70%;
  padding-right: 5px;
}

.top-header .header-link .share-web a:hover {
  color: #000;
}

/* main header */
.header-main {
  background-color: #fff;
  padding: 5px 0px;
}

.header-main .top-logo {
  text-align: center;
}

.header-main .top-logo img {
  width: 70%;
}

.header-main .search-wrap {
  display: flex;
  align-items: center;
}

.header-main .search-wrap .top-search {
  width: 100%;
}

.header-main .search-wrap .top-search .search-input {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 0 0.75em;
  font-size: 0.85em;
  border-radius: 0;
  max-width: 90%;
  width: 90%;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
  height: 40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.header-main .search-wrap .top-search .btn-search {
  position: absolute;
  height: 40px;
  width: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #f79c3a;
  border-color: rgba(0, 0, 0, 0.05);
  color: #fff;
}

.header-main .search-wrap .top-search .btn-search:hover {
  outline: none;
  opacity: 1;
  color: #fff;
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}

.header-main .top-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-main .top-cart .link-wishlist {
  padding-left: 15px;
}

.header-main .top-cart .link-wishlist a {
  font-size: 90%;
  font-weight: 500;
  color: #0a0a0a;
  text-decoration: none;
}

.header-main .top-cart .link-wishlist a:hover {
  color: #dc3545;
}
